* {
     box-sizing: border-box;
 }
 
 html{
     font-size: 1 rem;
     height: 100%;
 }
 
body {
    background-color: #F2F2F2;
    max-width: 1250px;
    margin: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: white;
    box-shadow:  0px 1px 10px rgba(44, 42, 42, 0.5);
      
}
/* header -->logo texto y menu*/
.contenedor{
    display: flex;
    height: auto;
    justify-content:space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0px;
    background-color: white;
    margin: 0.5rem;

}

.header-logo{
    display: block;
    padding-top:10px;
}

.header-titulo{
    text-align: center;
    display: block; 
    padding-right: 10px;  
    color: black;
}

.menu-option li{
    padding-bottom:15px;
    list-style:none;
    display: inline-block; 
}

.menu-option a{
    text-transform:none;
    color: black;
    text-decoration:none;
    font-weight: 700;
    padding: 5px;   
}

.menu-option :hover{
    color: brown;
}

.menu-option :active{
     background-color: rgb(173, 166, 166); 
     color:brown;
}

/*Footer*/

.foot{
    display: flex;
    height:auto;
    justify-content:space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0px;
    background-color: white;
    margin:0.5rem;
    box-shadow:  0px 1px 10px rgba(44, 42, 42, 0.5);
}
.datos{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.leyenda{
    text-align: center;
    font-weight: 700;
}

.foot-redes{
    display:flex;
    flex-direction: column;
    padding: 10px;
    padding-right:50px;

}

/*main - inicio*/

/*banner*/

.fondo{
    background-image: url("../img/d-banner-64.jpg");
    height: 200px;
    max-width:100%;
    margin: 0.5rem;
}

div.texto{
    margin: 30px;
    color: White;
    opacity: 1;
    text-align: center;
}

div.texto h3{
    padding-top:60px;
}

/* resto del main*/

.secciones {
    max-width:100%;
    background-color: white;
    margin: 0.5rem;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.5);
}

/*catalogo*/


.productos{
    background: rgb(242, 237, 237);
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}


.catalogo-item {
    
    box-shadow:  0px 1px 10px rgba(44, 42, 42, 0.5);
    background: rgb(250, 249, 249);
    justify-content: center; 
    align-items: center;
} 

.card-img {
    display: inline-flex;
    width:100%;
    padding: 1px;
    justify-content: center;
    margin-top: 15px;
    background: white;
}

.card-body {
 padding: 10px;   
 margin:0;
}
.card-body p {
    text-align: justify;
}

.encabezado {
margin: 10px;
padding: 15px;
background-color: aliceblue; 
border-radius: 6px;

}

.container{
    display: grid;
    grid-template-columns: 33% 47% 20%;
    grid-template-areas:        
        "card data price";
    margin: 3px;
    background-color: #fafafa;

}
.card-prod{
grid-area: card;
background-color: white; 
margin:3px;
}

.datos{
    grid-area: data;
    font-size: smaller;
    margin:3px;
    text-align:justify;
}
.price{
    grid-area: price;
    font-size: smaller;
    align-items: center;
    margin:5px;
    background-color: rgb(172, 206, 246);
}
.compra{
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: block;

}
.pagos h5{ 
    padding: 10px;
    margin: 10px;
    gap:5px;
}

 @media (max-width: 1000px) {
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: rgb(237, 232, 232);
        padding: 5px;
        margin: 5px;
        gap: 10px;  
     }
    .container{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 40% 60%;
        grid-template-areas:        
            "card price "
            "data data";
        margin: 3px;
        background-color: #fafafa;
    }
 }


 @media (max-width: 660px) {
    .productos{
    background: rgb(237, 232, 232);
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
    }
    .container{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50% 50%;
        grid-template-areas:        
            "card price "
            "data data";
        margin: 3px;
        background-color: #fafafa;
    }
 }
 @media (max-width: 500px) {
    .container{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50% 50%;
        grid-template-areas:        
            "card card "
            "data price";
        margin: 3px;
        background-color: #fafafa;
    }
 }

.secciones h2{
    display: flex;
    margin:1rem; 
}

/*servicios*/
.servicios{
    padding-bottom:15px;
    list-style:none;
}

.imagenes-servicios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow:  0px 1px 10px rgba(24, 22, 22, 0.2);
    margin:5px;
    border: rgb(183, 180, 180) 1px solid;
    width:99%;
    justify-content: center; 
    align-items:center;
}
.fondo1{
    background-image: url("../img/d-banner-64.jpg");
    height: 100px;
    max-width:100%;
    margin: 0.5rem;
}